<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.eric.coolweather">

    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".mvc.key.KeySettingActivity" />
        <activity android:name=".mvc.weather.WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvc.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".mvc.CanaryActivity"
            android:label="@string/canary_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.UpdateWeatherInfoService" />
        <service
            android:name=".notification.NotiListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
